<form method="POST" action="/landmarks">

<h2>Create New Landmark</h2>

<label>Landmark Name: </label><input type="text" name="landmark[name]" id="landmark_name">
<br>
<label>Year Created: </labek><input type="text" name="landmark[year_completed]" id="landmark_year_completed">
<br><br>
<input type="submit" value="Submit" id="Create New Landmark">

<br><br>

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>

</form>