<h1>Welcome to the Figures Page!</h2>
<h2>Figure List: </h2>
<ul>
<% @figures.each do |figure| %> 
    <li> <a href="/figures/<%= figure.id %>"><%= figure.name%></a></li>
<% end %> 
</ul>

<h2>Create New Figure</h2>
<a href="/figures/new">Create Figure</a>